.lista_indicadores{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.botao_indicador{
    width: var(--largura-botao);
    
    font-size: var(--botão);
    align-self: center;
    border-radius: var(--curvatura-canto);
    padding: 0.5em;

    color: var(--branco);
}

